.full {
  width: 100%;
  height: 93vh;
}

.form_element {
  width: 100%;
  margin-top: 1%;
}

#map {
  width: 100%;
  height: 100%;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url("img/cleaning_supplies_nature_banner.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 18vh;
}
.navbar {
  z-index: 3;
}

#contactanos_btn {
  color: black;
  background-color: none;
  border-width: 0;
  border-width: 1px;
  border-color: black;
}

#contactanos_btn:hover {
  color: white;
  background-color: black;
}
